* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #f1f4f4; */
}
.main {
  width: 100%;
  background-color: #f1f4f4;
  /* min-height: fit-content !important; */
  /* border: 1px solid red; */
}
.main2 {
  width: 100%;
  background-color: #f1f4f4;
  /* border: 1px solid red; */
  /* min: 1070vh; */
  /* padding-top: 15% !important; */
  /* max-height: 1070vh !important; */
  /* min-height: 800vh !important; */
}
.Filter-center {
  display: flex;
  justify-content: flex-end;
}
.items-center {
  display: flex;
  justify-content: center;
}
.top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
}
.text {
  font-style: normal;
  font-weight: 400 !important;
  font-size: 28px !important;
  line-height: 34px !important;
  text-align: center;
  
  color: #000000;}

.grid_center {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f4f4;
  /* margin-top: 30px !important; */
  /* height: 45vh; */
  margin-bottom: 0px;
}
.cen {
  display: flex;
  justify-content: flex-start;
  background-color: white !important;

  flex-direction: column;
}
.m-top {
  margin-top: 2vh !important;
  /* border: 1px solid red; */
  background-color: #ffffff;
  padding-bottom: 15px;
  padding-left: 7px;
  padding-top: 7px;
  width: 100%;
  min-height: fit-content !important;
}
.round-button {
  height: 28px !important;
  color: #6d6d6d !important;
  border-radius: 50px !important;
  border: 1px solid gray !important;
  margin-top: 10px !important;
  font-size: 14px !important;
  background-color: white !important;
  margin-bottom: 10px !important;
  text-transform: capitalize !important;
  width: 150px;
}
.round-button:focus {
  outline: none !important;
}
.color_pro {
  color: #6d6d6d;
  font-weight: bold;
  font-family: Proxima Nova;
  font-size: 28px !important;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  /* padding-top: 10% !important; */
}
.bt {
  height: 28px !important;
  color: black !important;
  border-radius: 50px !important;
  border: 1px solid gray !important;
  font-size: 14px !important;
  background-color: #59b6a5 !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  text-transform: capitalize !important;
  width: 150px;

}
.bt:focus {
  outline: none !important;
}
.change_color {
  color: #6d6d6d;
  background-color: white !important;
}
.text-color {
  color: #6d6d6d;
  font-weight: bold;
  margin-left: 25px !important;
  /* position: relative;
  top: 3.5vh;
  left: 6.5vw; */
}
.foter {
  background-color: #f5f3f8 !important;
  display: block;
  width: 100%;

}
.span_text {
  color: #6d6d6d;
}
.jj {
  margin-top: 3vh !important;
  margin-bottom: 2vh;
  /* height: 30vh; */
  display: flex;
  background-color: #ffffff;

  flex-direction: column;
  align-items: center;
}
.line {
  height: 2px;
  width: 140px;

  background-color: #6d6d6d;
  margin-top: 5px;
}
.flex {
  background-color: #ffffff;
  margin-top: 1vh;
  display: flex !important;
  justify-content: center !important;
  padding: 10px;
  padding-bottom: 40px;
}
.mobile-nuull {
  display: block;
}
.mobile-view-slider-shown {
  display: none ;

}
.pagination {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;
}
.responsivee {
  display: block;
}

.responsivee::-webkit-scrollbar {
  width: 5px;
}
.responsivee::-webkit-scrollbar-track {
  background-color: transparent;
}
.responsivee::-webkit-scrollbar-thumb {
  background-color: lightgray; /* color of the scroll thumb */
  border-radius: 10px; /* roundness of the scroll thumb */
  border: 0px solid rgba(0, 0, 0, 0); /* creates padding around scroll thumb */
}
@media screen and (max-width:600px){
  .mobile-nuull {
    display: none;
  }
  .mobile-view-slider-shown {
    display: block ;
  }
  .responsivee {
    display: none;
  }
}